.order-history-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: auto;
}

.order-history-container .left{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.order-history-container .left .title{
    height: 30%;
    font-size: 4.5rem;
    color: #007bbc;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: start;
    margin-left: 27px;
}


.order-history-container .left .filters{
    height: 70%;
    margin-left: 27px;
   
}

.order-history-container .left .filters .filters-container{
    width: 90%;
    margin: auto;   
    margin-top: 37px; 
    text-align: start;
}

.order-history-container .left .filters .filters-container .filters-part-name{
    font-size: 1.4rem;
    font-weight: bold;
}

.order-history-container .left .filters .filter-item-pair, .filter-item-unpair{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    width: 90%;
    margin: 10px 0 27px 0;
}

.order-history-container .left .filters .filter-item-pair label{
    width: 30%; 
    background: #007bbc;
    text-align: center;
    color: white;
    font-size: 1rem;
    padding:7px;
    border-radius: 17px;
    max-width: 97px;
}

.order-history-container .left .filters .filter-item-unpair label{
    width: 30%; 
    text-align: center;
    color: #007bbc;
    border: 1px solid #007bbc;
    font-size: 1rem;
    padding: 7px;
    border-radius: 17px;
    max-width: 97px;
}

.order-history-container .left .filters  .select-container{
    width: 50%;
}


.order-history-container .left .filters .remove-filter-btn {
    width: 100%;
    text-align: center;
}
.order-history-container .left .filters .remove-filter-btn button{
    background: -webkit-linear-gradient(left, #007bbc 0%, rgb(12, 177, 202) 100%);
    font-size: 1rem;
    letter-spacing: 0.8px;
    font-weight: bold;
    margin-top: 17px;
    padding: 10px 20px 8px 20px;
    transition: 0.25s ease-in-out;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 7px;
    animation: btn-update-appear;
    animation-duration: 1.5s;
}

.order-history-container .left .filters .remove-filter-btn button:hover{
    background-color: #398ebd;
}

.order-history-container .left .filters .filters-list input{
    width: 50%;
}

.order-history-container .left .filters  .filter-item-unpair .select-container{
    width: 50%;
}


.order-history-container .left .filters .filters-list .date-picker-container{
    display: flex;
    flex-direction: column;
}

.order-history-container .filters .filters-list .css-1sptkt-container {
    width: 180px !important;
    margin: 7px 0 0 0;
  }


.order-history-container .right{
    width: 70%;
    height: auto;
}

.order-history-container .right .stats{
    width: 90%;
    margin: 37px auto;
}

.order-history-container  .right .section-title{
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 12px 0;
    text-align: start;
}

.order-history-container .right .stats .stats-items-containers{
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 100px;
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 17px;
}

.order-history-container .right .stats .stats-item{
    text-align: center;
    width: 33%;
    position: relative;
    margin-top: 17px;
}

.order-history-container .right .stats .stats-item .title{
    font-size: 1.1rem;
    color: #b4b4b4;
    font-weight: bold;
    letter-spacing: 1.5px;

}

.order-history-container .right .stats .stats-item .info{
    font-size: 3.5rem;
    font-weight: bold;
    position: absolute;
    top: 45px;
    left: 20px;
    width: 100%;
    text-align:center;
    color: #e379fd;
}

.order-history-container .right .stats .stats-item .info span{
    font-size: 1rem;
    color: #007bbc;
}

.order-history-container .right .orders-list{
    width: 90%;
    margin: auto;
    margin-top: 100px;
}

.order-history-container .right .orders-list-display{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 500px;
}

.order-history-container .right .orders-list table{
    width: 100%;
    border-spacing: 0;
}

.order-history-container .right .orders-list table thead tr{
    height: 35px;
    font-weight: bold;
    font-size: 1.1rem;
    color: #b4b4b4;
    letter-spacing: 1.5px;
}


.order-history-container .right .orders-list table tbody{
    width: 100%;
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 7px;
}



.order-history-container .right .orders-list table tbody tr{
    height: 55px;
    transition: 0.5s ease;
}

.order-history-container .right .orders-list table tbody tr:hover{
    background: linear-gradient(to right, #f1cbfa, #f7eafa );
    border-radius: 17px !important;

}

.order-history-container .right .orders-list table tbody tr a{
   background-color: #bb0ce8;
   padding: 7px 12px;
   color: white;
   font-size: 0.8rem;
   border-radius: 7px;
   transition: 0.5s ease;
}

.order-history-container .right .orders-list table tbody tr a:hover{
    background-color: #c670db;
 }


.order-history-container .right .orders-list .pagination-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 17px 0 0 0;
}


@media screen and (min-width : 1450px) {
    .order-history-container .right .stats .stats-item .info{
        font-size: 5rem;
        top: 30px;  
    }
    .order-history-container .right .stats .stats-item .info span{
        font-size: 1.2rem;
    }
}

@media screen and (max-width : 1380px) {
    .order-history-container .left{
        width: 35%;
    }
    .order-history-container .right{
        width: 65%;
    }
}    

@media screen and (max-width : 1200px) {
    .order-history-container{
        flex-direction: column;
        height: auto;
    }

    .order-history-container .left{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    
    .order-history-container .left .title{
            height: auto;
            margin-top: 7px;
    }   

    .order-history-container .left .filters {
        width: 60%;
    }
    
    
    .order-history-container .left .filters .filters-container {
        width: 80%;
    }
    
    .order-history-container .left .filters .filters-container .filters-list{ 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .order-history-container .left .filters .filters-list .filter-item-pair, .filter-item-unpair{
        width: 80%;
      }

    .order-history-container .left .filters .filters-list .filter-item-pair .select-container{
        width: 30%;
        min-width: 200px;
        margin-left: 25px;
    }

    .order-history-container .left .filters .filters-list .filter-item-unpair .select-container{
        width: 30%;
        min-width: 200px;
        margin-left: 25px;
     
    }

    .order-history-container .left .filters .filters-list input{
        width: 30%;
        min-width: 200px;
        margin-left: 25px;
     
    }

    .order-history-container .left .filters .filter-item-pair label{
      min-width: 75px;
    }
    
    .order-history-container .left .filters .filter-item-unpair label{
        min-width: 75px;
    }

    .order-history-container .right {
        width: 100%;
        margin-top : 27px;
    }


}

@media screen and (max-width : 980px) {
    .order-history-container .left .filters .filters-container {
        width: 100%;

    }
    .order-history-container .right .stats .stats-item .title{
        letter-spacing: 1px;
    }
    .order-history-container .right .stats .stats-item .info{
        font-size: 3rem;
        top: 50px;
        left: 10px;
    }
    .order-history-container .right .stats .stats-item .info span{
        font-size: 1rem;
        color: #007bbc;
    }
}

@media screen and (max-width : 720px) {
    .order-history-container .left .filters {
        width: 98%;
    }

    .order-history-container .left .filters .filters-container{
        width: 100%;
        max-width: 500px !important;
    }
    .order-history-container  .right .section-title{
        font-size: 1.2rem;
    }
    .order-history-container .right .stats{
        width: 97%;
        margin: 17px auto;
    }

    .order-history-container .right .stats .stats-items-containers{
        height: 80px;
    }
    .order-history-container .right .stats .stats-item .title{
        font-size: 0.9rem;
        letter-spacing: 1px;
    }
    .order-history-container .right .stats .stats-item .info{
        font-size: 2.5rem;
        top: 35px;
        left: 0px;
    }
    .order-history-container .right .stats .stats-item .info span{
        font-size: 0.8rem;
        color: #007bbc;
    }
    .order-history-container .right .orders-list{
        width: 98%;
        margin: auto; 
        margin-top: 70px;
    }

    .order-history-container .right .orders-list-display{

        min-height: auto;
     }

    .order-history-container .right .orders-list table{
        width : 98%;
        margin: auto;
    }
    .order-history-container .right .orders-list table thead tr{
        font-size: 0.9rem;
        letter-spacing: 1.2px;
    }
    
    .order-history-container .right .orders-list table tbody tr{
        font-size: 0.8rem;
    }
    
    .order-history-container .right .orders-list table tbody tr a{
        padding: 7px;
    }
}


@media screen and (max-width : 560px) {


    
    .order-history-container .left .title{
        font-size: 2.5rem;
        text-align: center;
        margin: 20px 0;
        
    }   
    
    .order-history-container .left .filters {
        margin: 17px 0 0 0;
    }

    .order-history-container .left .filters .filters-part-name{
        font-size: 1rem
    }

    .order-history-container .left .filters .filters-container{
        width: 100%;
        max-width: 400px !important;
    }
    
    .order-history-container .left .filters .filter-item-pair, .filter-item-unpair{
        width: 95% !important;
    }
    

    .order-history-container .left .filters .filters-list .filter-item-pair .select-container{
        width: 30%;
        min-width: 170px;
        margin-left: 20px;
    }

    .order-history-container .left .filters .filters-list .filter-item-unpair .select-container{
        width: 30%;
        min-width: 200px;
        margin-left: 20px;
    
    }

    .order-history-container .left .filters .filter-item-pair label{
    min-width: 75px;
    }

    .order-history-container .left .filters .filter-item-unpair label{
        min-width: 75px;
    }

    .order-history-container .right .stats .stats-item .info{
        font-size: 2rem;
        top: 41px;
    }
    .order-history-container .right .stats .stats-item .info span{
        display: none;
    }
    
}